

main {
     width: 100vw;
     display: flex;
     flex-direction: column;
     align-items: center;
    
 }
 #container-content{
     width: 60%;
     display: flex;
     flex-direction: column;
     height: 100vh;
     align-items: center;

 }
 
 section h2{
     color: #fff;
     font-size: 2rem;
     font-weight: bold;
     margin: .5rem auto;
 }
 .text {
     color: #fff;
     text-align: justify;
     font-size: 2rem;
     margin: 1rem auto;

 }


 /*------------------Animation Text About type-----------------------*/
 
 /*Center the weird text*/
 #weirdtext{
   font-size: 5rem;
   display: block;
   margin: 2rem auto 20px auto;
   color: #0ce2f1;
 }
 

 
 /*all spans have to be block or inline block to transform*/
 #weirdtext span{
   display: inline-block;
 }
 
 /*When JS finds a space, it replaces it with a span with .space class*/
 /*I did this so you can do stuff with the spaces if you want.*/
 .space{
   width: 15px;
 }
 
 
 /*These classes are added to each letter/span using JS so they animate*/
 .effect1{
   animation: zoom 6s linear infinite;
   -webkit-animation: zoom 6s linear infinite;
 }
 .effect2{
   animation: bounce 3s linear infinite;
   -webkit-animation: bounce 3s linear infinite;
 }
 .effect3{
   animation: squash 2s linear infinite;
   -webkit-animation: squash 2s linear infinite;	
 }
 .effect4{
   animation: rot 5s linear infinite;
   -webkit-animation: rot 5s linear infinite;
 }
 .effect5{
   animation: fade2 4s linear infinite;
   -webkit-animation: fade2 4s linear infinite;
 }
 

 /*------------About images -------------*/

 .space-base img {
     position: absolute;
     left: -19%;
     top: 75%;
     width: 75rem;
     height: 50rem;
     z-index: -1000;
     animation: float-background 7s ease-in-out infinite;
 }

 .astronaut img {
    position: absolute;
    right: 5%;
    top: 10%;
    width: 15rem;
    height: 15rem;
    animation: astronaut 160s infinite;
}
.copy-mobile,
.space-base-mobile {
  
  display: none;
}
@media (min-width: 1768px){
#container-content {
    margin-top: 20rem;
    width: 80%;
}
#weirdtext {
    width: 100%;
}
#weirdtext span {
  font-size: 7rem;
}
section h2 {
  font-size: 5rem;
  margin: 10rem auto 5rem auto;
}

section .text {
  font-size: 4rem;;
}
 .astronaut img {
   width: 30rem;
   height: 30rem;
 }
 .space-base img {
   left: -10%;
    top: 80%;
    width: 120rem;
    height: 90rem;
  }
  #section-home h2 {
    margin: 0;
  }
}
@media(max-width: 1500px){
  .space-base img{
    top: 60%;
    left: -10%;
  }
}
@media (max-width: 1300px){
  .space-base img{
    top: 70%;
    left: -20%;
  }
}
@media (max-width: 1050px){
  .space-base img{
    top: 100%;
    left: -20%;
    width: 70rem;
    height: 50rem;
  }
}

@media (max-width:900px){
  .astronaut img {
    width: 12rem;
    height: 12rem;
    right: 3%;
  }
  .space-base img {
    width: 50rem;
    height: 35rem;
    left: -17%;
  }
}
@media (max-width:800px){

  #weirdtext {
    font-size: 3rem;
  }
  section h2{
    font-size: 2rem;
  }
  .text {
    font-size: 1.6rem;
  }
  .space-base img{
    width: 40rem;
    height: 30rem;
    left: -17%;
  }
}
@media (max-width:610px){

  #weirdtext {
    font-size: 2.5rem;
  }
  section h2{
    font-size: 1.7rem;
  }
  .text {
    font-size: 1.4rem;
  }
  .space-base img{
    width: 30rem;
    height: 20rem;
    left: -17%;
  }
}
/*----------- Responsive -------------*/
@media (max-width: 500px){

 
  .astronaut img{
    display: none;
  }

  #weirdtext {
    font-size: 2.5rem;
  }

  section h2{
    font-size: 2rem;
    margin: 2rem auto;
  }
  .text {
    font-size: 1.5rem;;
  }

  .space-base img{
    display: none;
  }

  .copy-mobile{
    display: flex;
    justify-content: center;
    width:100%;
    color: #fff;
    font-size: 1.5rem;
  }
  .space-base-mobile {
    display: flex;
    width: 9rem;
    height: 22rem;
    justify-content:center;
    animation: float 8s infinite;

  }
}
