
  

  /**---------------Float -----------*/

  @keyframes float{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-20px)
	}
}

@keyframes float-side{
	0%,100%{
    transform: translatey(0)
	}
	50%{
    transform: translatey(-10px)
	}
}

@keyframes float-robot{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-10px)
	}

}

/*-----------Pulse-------------*/

.pulse {
        animation: pulse 0.7s infinite;
        margin: 0 auto;
        display: table;
        margin-top: 50px;
        animation-direction: alternate;
        -webkit-animation-name: pulse;
        animation-name: pulse;
      }
      
      @-webkit-keyframes pulse {
        0% {
          -webkit-transform: scale(1);
          -webkit-filter: brightness(100%);
        }
        100% {
          -webkit-transform: scale(1.1);
          -webkit-filter: brightness(200%);
        }
      }
      
      @keyframes pulse {
        0%,100% {
          transform: scale(1);
          filter: brightness(100%);
        }
        50% {
          transform: scale(1.1);
          filter: brightness(200%);
        }
      }

/*------------Background Animation----------*/
@keyframes float-background {
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-10px)
	}
}
 
/*---------Pop Up---------------*/
@keyframes pop-up {
  from {
    opacity: 0;
    transform: translate3d(0,-60px, 0)
  } to {
    opacity: 1;
    transform: translate3d(0,0, 0)

  }
}

@keyframes comet-fly {
  0%{
    
    transform:translateX(0);
  }

  100%{
    transform:translatex(-1800px);
  }
}

@keyframes astrounaut {

  0%{
    
    transform:translateX(20px);
    transform: rotate(0deg)
  }

  100%{
    transform:translatex(-1800px);
    transform: rotate(1075deg)

  }
}


 /*-----Jello Button animation-----*/
 @-webkit-keyframes jello {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}
@keyframes jello {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
            transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
            transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
            transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
            transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
            transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
  }
}






  