
  

  /**---------------Float -----------*/

  @keyframes float{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-20px)
	}
}

@keyframes float-side{
	0%,100%{
    transform: translatey(0)
	}
	50%{
    transform: translatey(-10px)
	}
}

@keyframes float-robot{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-10px)
	}

}

/*-----------Pulse-------------*/

.pulse {
        animation: pulse 0.7s infinite;
        margin: 0 auto;
        display: table;
        margin-top: 50px;
        animation-direction: alternate;
        -webkit-animation-name: pulse;
        animation-name: pulse;
      }
      
      @-webkit-keyframes pulse {
        0% {
          -webkit-transform: scale(1);
          -webkit-filter: brightness(100%);
        }
        100% {
          -webkit-transform: scale(1.1);
          -webkit-filter: brightness(200%);
        }
      }
      
      @keyframes pulse {
        0%,100% {
          transform: scale(1);
          filter: brightness(100%);
        }
        50% {
          transform: scale(1.1);
          filter: brightness(200%);
        }
      }

/*------------Background Animation----------*/
@keyframes float-background {
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-10px)
	}
}
 
/*---------Pop Up---------------*/
@keyframes pop-up {
  from {
    opacity: 0;
    transform: translate3d(0,-60px, 0)
  } to {
    opacity: 1;
    transform: translate3d(0,0, 0)

  }
}










  