

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-bottom:30rem;
}

#container-contact {
    width: 60%;
    background-color: #fff;
    height: 85rem;
    border: none;
    border-radius: 2rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-title{
    color: rgb(22, 203, 223, .8);
    font-size: 3rem;
}

#form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 80%;
    font-size: 3rem;
    font-weight: bold;    
}
#form label {
    margin: 3rem 0 .5rem 0;
}
#form input {
    background-color: rgba(0,0,0, .1);
    border-radius: 2.5rem;
    padding: .5rem 1rem;
}

#form textarea {
    border: 2px solid #000;
    border-radius: 2rem;
    background-color: rgba(0,0,0, .1);
    margin-bottom: 2rem;
    padding: 1rem;

}
#form #btn-send{
    padding: 2rem auto;
    border: none;
    font-size: 3rem;
    font-weight: bold;
    color:#000;
    background-color: rgba(13, 179, 197, 0.795);
    z-index: 100;
}
#form #btn-send:hover{
    color: #fff;
    background-color: #000;
    transition: .5s;
    animation: jello 2s infinite;

    cursor: pointer;

}


/*-------Animation Title -----------*/
  .contact-title {
    color: rgba(23, 105, 114, 0.856);
    text-shadow: 0 20px 25px #2e2e31, 0 40px 60px #2e2e31;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 3px;
    margin-top: 3rem;
    transform: translateX(-50%) translateY(-50%);
    animation:jello 3s infinite  ease-in-out ;

  }
  
  .contact-title:before,
  .contact-title:after {
    content: '';
    padding: .9em .4em;
    position: absolute;
    left: 50%;
    width: 100%;
    top: 50%;
    display: block;
    border: 15px solid rgba(10, 121, 133, .4);
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }

  
  .contact-title:after {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(10, 121, 133, .8) rgba(10, 121, 133, .8);
    box-shadow: 25px 25px 25px rgba(46, 46, 49, .8);
  }


  /*------ Mobile --------*/

  @media (max-width: 500px){

    #container-contact {
        width: 90%;
        height: 70%;
        box-sizing: border-box;
    }
    .contact-title {
        font-size: 1.5rem
    }
    #form{
        width: 80%;
        height: 100%;
    }
    #form label{
        font-size: 1.5rem;
        margin: 1rem 0;
    }
    #form input {
        font-size: 1.3rem;
    }

    #form #btn-send {
        font-size: 1.5rem;
        padding: 1rem;
    }
    .copy-mobile{
        display: flex;
        justify-content:center;
        flex-direction: column;
        align-items: center;
        color:#fff;
        font-size: 1.5rem;
    }

    #blue-rocket {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    #blue-rocket img {
        width: 30rem;
        height: 32rem;
    }

    

    



  }