

/* ----Main container ------*/

#main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    animation: float-side 7s ease-in-out infinite;

}
.button-right a,
.button-left a{
    box-sizing: border-box;
    background-color: transparent;
    opacity: .3;
    width: 34px;
    height: 34px;

     
}
.button-right a img,
.button-left a img{
    width: 5rem;
    height: 5rem;
}
.button-right{
    margin-right: 2rem;
}
.button-left{
    margin-left: -8rem;
    position: relative;
    z-index: 100;
}


.button-left a:hover {
    opacity: 1;
    transition: .5s;
}
.button-right a:hover{
    opacity: 1;
    transition: .5s;
}

.home-planets img{
        margin-top: 10rem;
        width: 26rem;
        height: 35rem;
}
#portfolio img{
    animation: float 3s ease-in-out infinite;   
}

#about img{
    animation: float 6s ease-in-out infinite;   
}

#contact img{
    animation: float 4.5s ease-in-out infinite;   
}
#robot{
    position: absolute;
    left: -50px;
    bottom: -100px;
    animation: float-robot 7s ease-in-out infinite;

}
#robot img{
    width: 30rem;
    height:32rem;

    z-index: 10;
}

#alien-ship {
    position: absolute;
    right: 30px;
    top: -100px;
    z-index: -10;
    animation: pulse 6s ease-in-out infinite;

}
#alien-ship img{
    width: 38rem;
    height: 34rem;
    z-index: -100;
}
/*------- Button Pop-Up-----------------*/

.modal-index {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 60%;
    height: 95vh;
    min-width: 300px;
    justify-content:center;
    align-items:center;
    position: relative;
    border-radius: 1rem;
  }
  .modal-index form{
    display: flex;
    flex-direction: column;
    width: 90%;
    font-size: 2rem;
    color: #000;
  }
  .modal-index label{
    margin: .5rem 0;
    font-weight: bold;
    font-size: 2rem;
  }
  .modal-index textarea{
    margin-bottom: 2rem;
    height: 10rem;
  }
  #popup-form input{
    border-radius: 1.5rem;
    padding: 0 1rem;
    background-color: rgba(0,0,0,.1);
    
  
  }

  #popup-form #pop-btn {
    background-color:rgb(22, 203, 223);
    font-weight: bold;
    font-size:2rem;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
    padding: 1rem ;
    color: #fff;
  
  }
  #popup-form #pop-btn:hover {
    background-color: #000;;
    color: #fff;
    cursor: pointer;
  
    transition: .5s;
  }
  





  