/* ----Main container ------*/

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    animation: float-side 7s ease-in-out infinite;

}
.button-right a,
.button-left a{
    box-sizing: border-box;
    background-color: transparent;
    opacity: .3;
    width: 34px;
    height: 34px;
     
}
.button-right a img,
.button-left a img{
    width: 5rem;
    height: 5rem;
}
.button-right{
    margin-right: 2rem;
}
.button-left{
    margin-left: 2rem;
}


.button-left a:hover {
    opacity: 1;
    transition: .5s;
}
.button-right a:hover{
    opacity: 1;
    transition: .5s;
}


#about a img{
    margin-top: 10rem;
    width: 50rem;
    height: 40rem;
    animation: float 2s ease-in-out infinite;

}


#robot{
    position: absolute;
    left: 80px;
    bottom: -100px;
    animation: float-robot 7s ease-in-out infinite;

}
#robot img{
    width: 30rem;
    height:32rem;

    z-index: 10;
}

#alien-ship {
    position: absolute;
    right: 30px;
    top: 0;
    z-index: -10;
    animation: pulse 6s ease-in-out infinite;

}
#alien-ship img{
    width: 38rem;
    height: 34rem;
    z-index: -100;
}
/*-------Button --------*/

#btn-up{
    background-color: #fff;
    border-radius: 1rem;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    padding: .3rem;
    right: 2rem;
    bottom: 1.5rem;
    opacity: .4;
    z-index: 100;
}
#btn-up img{
    width: 4rem;
    height: 4rem;
}
#btn-up:hover {
    background-color: #fff;
    cursor: pointer;
    transition: 1.5s;
    opacity: 1;
}